@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

  .Container {
    position: relative;
    margin-top: 60px;
    overflow: hidden;
  }

  .HomeVideo {
    width: 100%;
    height: 80%;
  }
  
  .Content {
    position: absolute;
    top: 0;
    color:#e6e3e3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SubContent {
      text-align: center;
      padding: 10px;
    }

    .MainTitle{
        font-size: 80px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }

    .MainDescription{
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
    }
