body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.park-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #4be064
}

.park-card-image {
  justify-self: center;
  height: 12rem;
  width: auto;
  overflow: hidden;
}

.park-image {
  width: 20rem;
  height: auto;
}

.comments {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  font-size: 0.85rem;
}

.comments li {
  margin: 2px 0;
  letter-spacing: 0.2px;
}