body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.park-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #4be064
}

.park-card-image {
  justify-self: center;
  height: 12rem;
  width: 18rem;
  overflow: hidden;
}

.park-image {
  width: 20rem;
  height: auto;
}

.comments {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  font-size: 0.85rem;
}

.comments li {
  margin: 2px 0;
  letter-spacing: 0.2px;
}

.park-page {
  margin: 5px;
}

.sidebarStyle {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  }
   
  .mapContainer {
  position: relative;
  overflow: visible;
  top: 50px;
  right: 100px;
  left: 0;
  bottom: 0;
  }

  .weatherIcon {
    background-color: lightblue;
  }

  .weatherBox {
    margin: 50px;
    padding: 10px;
    align-self: center;
    align-items: center;
    background-color: burlywood;
    border-width: medium;
    border: black;
    border-style: solid;
  }

  .weatherData {
    margin-left: 20px;
  }

  .forecast-main {
    content: "";
    display: table;
    clear: both;
  }

  .forecast-card {
    float: left;
    align-self: center;
    align-items: center;
    height: 470px;
    width: 14%;
    padding: 1 1px;
    /* border-width: 1px; */
    border: black;
    /* border-style: solid; */
  }
  .map-view {
    position: absolute;
    height: 45rem;
    width: 70rem;
top: 100px;
right: 0;
left: 50px;
bottom: 0;
    }

